<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
       http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">

    <bean id="usuarioService"
        class="pe.edu.upc.dew.proyecto.service.UsuarioServiceImpl">
        <property name="usuarioDao" ref="usuarioDao" />
    </bean>

    <bean id="usuarioDao"
        class="pe.edu.upc.dew.proyecto.dao.UsuarioDaoImpl">
    </bean>


    <bean id="reservaService"
        class="pe.edu.upc.dew.proyecto.service.ReservaServiceImpl">
        <property name="reservaDao" ref="reservaDao" />
    </bean>

    <bean id="reservaDao"
        class="pe.edu.upc.dew.proyecto.dao.ReservaDaoImpl">
    </bean>

    <bean id="disponibilidadService"
        class="pe.edu.upc.dew.proyecto.service.DisponibilidadServiceImpl">
        <property name="disponibilidadDao" ref="disponibilidadDao" />
    </bean>

    <bean id="disponibilidadDao"
        class="pe.edu.upc.dew.proyecto.dao.DisponibilidadDaoImpl">
    </bean>

    <bean id="canchaService"
        class="pe.edu.upc.dew.proyecto.service.CanchaServiceImpl">
        <property name="canchaDao" ref="canchaDao" />
    </bean>

    <bean id="canchaDao"
        class="pe.edu.upc.dew.proyecto.dao.CanchaDaoImpl">
    </bean>

    <bean id="calendarioService"
        class="pe.edu.upc.dew.proyecto.service.CalendarioServiceImpl">
        <property name="calendarioDao" ref="calendarioDao" />
    </bean>

    <bean id="calendarioDao"
        class="pe.edu.upc.dew.proyecto.dao.CalendarioDaoImpl">
    </bean>

    <bean id="reporteService"
        class="pe.edu.upc.dew.proyecto.service.ReporteServiceImpl">
        <property name="reporteDao" ref="reporteDao" />
    </bean>

    <bean id="reporteDao"
        class="pe.edu.upc.dew.proyecto.dao.ReporteDaoImpl">
    </bean>


    <!--bean id="propertyConfigurer"
          class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="/WEB-INF/jdbc.properties" />
    
    <bean id="dataSource"
          class="org.springframework.jdbc.datasource.DriverManagerDataSource"
          p:driverClassName="${jdbc.driverClassName}"
          p:url="${jdbc.url}"
          p:username="${jdbc.username}"
          p:password="${jdbc.password}" /-->

    
    <!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
    
</beans>
