<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.proyecto.controller.LoginServlet</servlet-class>
    </servlet>



    <servlet>
        <servlet-name>CanchaServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.proyecto.controller.CanchaServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DisponibilidadServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.proyecto.controller.DisponibilidadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CalendarioServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.proyecto.controller.CalendarioServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>pe.edu.upc.dew.proyecto.controller.NewServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>





    <servlet-mapping>
        <servlet-name>CanchaServlet</servlet-name>
        <url-pattern>/CanchaServlet</url-pattern>
    </servlet-mapping>



    <servlet-mapping>
        <servlet-name>DisponibilidadServlet</servlet-name>
        <url-pattern>/DisponibilidadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CalendarioServlet</servlet-name>
        <url-pattern>/CalendarioServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
